<header class="navbar-fixed-top navbar-inverse pull-left container">
  <div class= "navbar-header">
    <ul class= "nav navbar-nav"> 
      <li><%= link_to "Home", root_path %> </li>
      <li><%= link_to "Login", signup_path %> </li>
      <li><%= link_to "About", about_path %> </li>
      <li><%= link_to "Help", help_path %> </li>
    </ul>
  </div>
</header>